
alias clean_tmp='find /tmp/ -mindepth 1 -maxdepth 1 -user $USER -exec rm -rf {} \;'

alias ga='git add .; git status'
alias gb='git branch'
alias gc='git commit'
alias gcb='git checkout -b'
alias gd='git diff'
alias gl='git log'
alias gm='git merge'
alias gpl='git pull'
alias gps='git push'
alias gs='git status'

alias gh-pages-push='git subtree --prefix gh-pages push origin gh-pages'
alias gh-pages-pull='git subtree --prefix gh-pages pull origin gh-pages'

alias l='ls -lrth'
alias ll='ls -lrtha'

alias vi='vim'

