# Ignore everything ...
*
# ... except the following files and folders
!.ackrc
!.bash/git-aware-prompt
!.bash_login
!.bash_logout
!.bashrc
!.editorconfig
!.fibo/bin/README.md
!.fibo/bin/ack
!.fibo/bin/clock
!.fibo/bin/zshrc
!.gitignore
!.inputrc
!.screenrc
!.shell/aliases
!.shell/cleanup_git_branches
!.shell/dir
!.shell/gh-clone
!.shell/profile
!.ssh/agent
!.vimrc
