[submodule ".bash/git-aware-prompt"]
	path = .bash/git-aware-prompt
	url = https://github.com/jimeh/git-aware-prompt
[submodule ".shell/gh-clone"]
	path = .bash/gh-clone
	url = https://github.com/fibo/gh-clone.git
[submodule ".shell/dir"]
	path = .bash/dir
	url = https://github.com/fibo/dir.git
[submodule ".vim/bundle/Vundle.vim"]
	path = .vim/bundle/Vundle.vim
	url = https://github.com/gmarik/Vundle.vim.git
