# Ignore everything ...
*
# ... except the following files and folders
!.bash/completion/git-completion.bash
!.bash/completion/npm
!.bash_login
!.bin/
!.ctags
!.bash
!.bash_logout
!.bashrc
!.ctags
!.editorconfig
!.eslintrc.json
!.gitignore
!.inputrc
!.screenrc
!.ssh/agent
!.shell/aliases
!.shell/profile
!.vimrc
!.ackrc
