# Ignore everything ...
*
# ... except the following files and folders
!.ctags
!.config/nvim/autoload/plug.vim
!.config/nvim/init.vim
!.bash
!.bash_logout
!.bashrc
!.ctags
!.editorconfig
!.eslintrc.json
!.gitignore
!.screenrc
!.shell/aliases
!.shell/profile
!.vimrc
!.zsh
!.zshrc
