snippet log "console.log"
console.log($0)
endsnippet

snippet con "console.log"
console.log($0)
endsnippet

snippet "func?t?i?o?n?" "function" r
function ($0) {
}
endsnippet

snippet "JSO?N?" "JSON.stringify" r
JSON.stringify($0)
endsnippet

snippet mod "module.exports"
module.exports = $0
endsnippet

snippet require "require"
const $1 = require('$1')
endsnippet
